<div class="container">
  <div class="row">
    <div class="col-9">
      <table class="table">
        <thead>
          <tr>
            <th class="col-2">Symbol</th>
            <th class="col-1">Units</th>
            <th class="col-1">Price</th>
            <th class="col-1">Type</th>
            <th class="col-2">Date</th>
            <th class="col-1">Modify</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let trade of tradeHistory">
            <td>{{ trade.symbol }}</td>
            <td>{{ trade.units }}</td>
            <td>{{ trade.price }}</td>
            <td>{{ trade.type }}</td>
            <td>{{ trade.createdDate | date}}</td>
            <td><button class="btn btn-primary"
                (click)="toggleUpdateTrade(trade.tradeHistoryId, trade.portfolioId, trade.symbol, trade.units, trade.price, trade.type, trade.createdDate)">Modify</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-3">
      <div class="mb-5">
        <form [formGroup]="formGroup" (ngSubmit)="postTrade(this.portfolioId, symbol.value, +units.value, +price.value, type.value, dateAdd.value); 
          updatePortfolio == true && postToPortfolio(this.portfolioId, symbol.value, +units.value, type.value)">
          <mat-form-field>
            <input formControlName="symbol" matInput type="text" [matAutocomplete]="auto" #symbol class="form-control"
              placeholder="Symbol">
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let symbol of filteredSymbols" [value]="symbol">
                {{symbol}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <input type="number" class="form-control mt-1" #units min="0" placeholder="Units">
          <input type="number" class="form-control mt-1" #price min="0" placeholder="Price">
          <select class="form-select mt-1" aria-label="Buy/Sell" #type>
            <option value="Buy">Buy</option>
            <option value="Sell">Sell</option>
          </select>
          <br>
          <p>
            <label for="dateAdd">Date: </label>
            <input type="date" id="dateAdd" #dateAdd class="ms-1" [value]="this.myDate">
          </p>
          <div class="form-check">
            <label class="form-check-label" for="flexCheckChecked">
              Update Portfolio
            </label>
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked
              (click)="toggleUpdatePortfolio()">
          </div>
          <button type="submit" class="btn btn-success mt-3">Add Trade</button>
        </form>
      </div>

      <div class="mt-3">
        <form *ngIf="toggleShowUpdateTrade" #submitForm="ngForm"
          (ngSubmit)="updateTrade(+tradeHistoryId.value, this.portfolioId, symbol.value, +units.value, +price.value, type.value, dateEdit.value)">
          <div class="mt-3">
            <label for="tradeHistoryId" class="form-label" hidden>Trade Id</label>
            <input type="number" #tradeHistoryId class="form-control" id="tradeHistoryId"
              [ngModel]="updatedTrade.tradeHistoryId" name="tradeHistoryId" disabled hidden>
          </div>
          <div>
            <label for="portfolioId" class="form-label" hidden>Portfolio Id</label>
            <input type="number" #localportfolioId class="form-control" id="portfolioId"
              [ngModel]="updatedTrade.portfolioId" name="portfolioId" disabled hidden>
          </div>
          <div>
            <label for="symbol" class="form-label">Symbol</label>
            <input type="text" #symbol class="form-control" id="symbol" [ngModel]="updatedTrade.symbol" name="symbol"
              disabled>
          </div>
          <div>
            <label for="units" class="form-label">Units</label>
            <input type="number" #units class="form-control" id="units" [ngModel]="updatedTrade.units" name="units">
          </div>
          <div>
            <label for="price" class="form-label">Price</label>
            <input type="number" #price class="form-control" id="price" [ngModel]="updatedTrade.price" name="price">
          </div>
          <div>
            <label for="type">Buy/Sell</label>
            <select class="form-select mt-2" aria-label="Buy/Sell" #type id="type">
              <option value="Buy">Buy</option>
              <option value="Sell">Sell</option>
            </select>
          </div>
          <!-- <div>
            <label for="dateModify" class="form-label">Date</label>
            <input type="text" #date class="form-control" id="dateModify" [ngModel]="updatedTrade.createdDate"
              name="date">
          </div> -->
          <br>
          <p>
            <label for="dateEdit">Date: </label>
            <input type="date" id="dateEdit" #dateEdit class="ms-1" [value]="this.myDate">
          </p>
          <button type="submit" class="btn btn-primary mt-3">Modify Trade</button>
          <button type="button" class="btn btn-danger mt-3 float-end" (click)="deleteTrade(+tradeHistoryId.value, this.portfolioId)">Delete Trade</button>
        </form>
      </div>
    </div>
  </div>
</div>