<div *ngFor="let item of newsArray; let i=index">
    <div class="row mt-5" *ngIf="i<3">

        <div class="col">
            <mat-card class="example-card align-items-center bg-light">
                <mat-card-header>
                    <!-- <div mat-card-avatar class="example-header-image"></div> -->
                    <div class="text-center">
                        <mat-card-title>{{newsArray[3*i].title}}</mat-card-title>
                        <mat-card-subtitle>{{newsArray[3*i].pubDate | date}}</mat-card-subtitle>
                    </div>
                </mat-card-header>
                <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
                <mat-card-content>
                    <div class="text-center">
                        <p *ngIf="newsArray[3*i].description; else noDescription1">
                            {{newsArray[3*i].description}}
                        </p>
                        <ng-template #noDescription1>
                            <p>{{newsArray[3*i].title}}</p>
                        </ng-template>
                    </div>
                </mat-card-content>
                <mat-card-actions>
                    <div class="text-center">
                        <a class="btn btn-outline-primary" mat-raised-button href={{newsArray[3*i].link}}
                            target=”_blank”>View Article</a>
                    </div>
                    <!-- <button mat-button color="accent">SHARE</button> -->
                </mat-card-actions>
            </mat-card>
        </div>

        <div class="col">
            <mat-card class="example-card align-items-center bg-light">
                <mat-card-header>
                    <!-- <div mat-card-avatar class="example-header-image"></div> -->
                    <div class="text-center">
                        <mat-card-title>{{newsArray[3*i+1].title}}</mat-card-title>
                        <mat-card-subtitle>{{newsArray[3*i+1].pubDate | date}}</mat-card-subtitle>
                    </div>
                </mat-card-header>
                <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
                <mat-card-content>
                    <div class="text-center">
                        <p *ngIf="newsArray[3*i+1].description; else noDescription2">
                            {{newsArray[3*i+1].description}}
                        </p>
                        <ng-template #noDescription2>
                            <p>{{newsArray[3*i+1].title}}</p>
                        </ng-template>
                    </div>
                </mat-card-content>
                <mat-card-actions>
                    <div class="text-center">
                        <a class="btn btn-outline-primary" mat-raised-button href={{newsArray[3*i+1].link}}
                            target=”_blank”>View Article</a>
                    </div>
                    <!-- <button mat-button onclick="">SHARE</button> -->
                </mat-card-actions>
            </mat-card>
        </div>

        <div class="col">
            <mat-card class="example-card align-items-center bg-light">
                <mat-card-header>
                    <!-- <div mat-card-avatar class="example-header-image"></div> -->
                    <div class="text-center">
                        <mat-card-title>{{newsArray[3*i+2].title}}</mat-card-title>
                        <mat-card-subtitle>{{newsArray[3*i+2].pubDate | date}}</mat-card-subtitle>
                    </div>
                </mat-card-header>
                <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
                <mat-card-content>
                    <div class="text-center">
                        <p *ngIf="newsArray[3*i+2].description; else noDescription3">
                            {{newsArray[3*i+2].description}}
                        </p>
                        <ng-template #noDescription3>
                            <p>{{newsArray[3*i+2].title}}</p>
                        </ng-template>
                    </div>
                </mat-card-content>
                <mat-card-actions>
                    <div class="text-center">
                        <a class="btn btn-outline-primary" mat-raised-button href={{newsArray[3*i+2].link}}
                            target=”_blank”>View Article</a>
                    </div>
                    <!-- <button mat-button onclick="">SHARE</button> -->
                </mat-card-actions>
            </mat-card>
        </div>

    </div>
</div>